.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80px;
  text-align: center;
}

.spin-button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 20px 80px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #FF2B2B 0%, #EDFF21 51%, #FE28A2 100%);
  background-size: 250% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}

.spin-button:hover {
  background-position: right center;
}
