body{
	margin: 0;
	padding: 0;
}

canvas {
	max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80px;
  text-align: center;
}

.spin-button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 20px 80px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #FF2B2B 0%, #EDFF21 51%, #FE28A2 100%);
  background-size: 250% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}

.spin-button:hover {
  background-position: right center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #FF2B2B;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 2s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.point {
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
